.smallnews {
	margin: 8px;
	margin-left:0;
	position: relative;
	overflow: hidden;
	width: 100%;
}
.smallnews .title {
	font-size: 25px;
	text-align: left;
}
.smallnews p {
	font-size: 16px;
	margin-top: 5px;
	width: 100%;
	text-align: justify;
}
.smallnews .imgCon {
	width: 300px;
}
.smallnews .publisher {
	font-size: 0.8em;
}
