.title {
	font-family: 'Anton', sans-serif;
	font-weight: 1000;
	font-size: 1.8em;
	text-transform: uppercase;
	width: 100%;
	padding-bottom: 5px;
	text-align: left;
}
img {
	filter: grayscale(1);
	max-width: 100%;
}
p {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 5px;
	font-family: 'Oswald', sans-serif;
}
.topnews {
	width: fit-content;
	border-right: none;
}
span {
	font-size: 30px;
	font-weight: 1000;
	color: #2b1d14;
	float: left;
	padding-right: 5px;
}
.topnews .featuredTitle {
	font-size: 2.5em;
	background-color: #654321;
	color: white;
	line-height:1;
	width: fit-content;
	text-transform: uppercase;
	font-weight: bold;
}
button {
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px;
	margin: 8px 0;
	border:0;
	background-color: #654321;
}
button a {
	color: white;
	text-decoration: none;
}
.imgCon {
	display: flex;
	flex-direction: row;
}
@media (min-width:900px) {
img {
	margin: 0 auto;
}
.title {
	font-size: 60px;
	font-weight: 1000;
}
.topnews {
	border-right: 1px solid black;
}
}